.wd-fg-color-black { color: black; }
.wd-fg-color-white { color: white; }
.wd-fg-color-blue { color: #7070ff; }
.wd-fg-color-red { color: #ff7070; }
.wd-fg-color-green { color: green; }
.wd-fg-color-darkgray { color: darkgray; }

.wd-bg-color-yellow { background-color: #ffff07;  }
.wd-bg-color-blue { background-color: #7070ff; }
.wd-bg-color-red { background-color: #ff7070; }
.wd-bg-color-green { background-color: green; }
.wd-bg-color-darkgray { background-color: darkgray; }
.wd-bg-color-black { background-color: black; }

.wd-border-fat {
    border-width: 13px 4px 4px 4px; }
.wd-border-thin {
    border-width: 1px; }
.wd-border-solid {
    border-style: solid; }
.wd-border-dashed {
    border-style: dashed; }
.wd-border-yellow {
    border-color: #ffff07; }
.wd-border-red {
    border-color: #ff7070; }
.wd-border-blue {
    border-color: #7070ff; }
.wd-border-grey {
    border-color: rgb(47, 51, 54); }

.wd-margin-top {
    margin-top: 0px;
}

.wd-margin-bottom {
    margin-bottom: 0px;
}


.wd-title-row {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    padding-bottom: 12px;
    margin: 0px 16px 0px 16px;
    /*flex: 1;*/

    /*box-sizing: content-box;*/


}
.wd-title {
    padding-left: 16px;
    /*padding-top: 12px;*/
    margin-top: 12px;
    /*margin-left: 16px;*/
    color: white;
    font-size: 20px;
    margin-bottom: 0px;

}

.wd-handle {
    color: lightgray;
    font-size: 13px;
    padding-top: 0px;
    padding-left: 16px;
    /*margin-bottom: 0px;*/
}

.wd-info-row {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    border-top: none;
    /*padding-bottom: 120px;*/
    padding-top: 12px;
    padding-left: 16px;
    margin: 0px 16px 0px 16px;
    /*position: absolute;*/
    display: flex;
    padding-right: 16px;
}

.wd-avatar-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    float: left;
}

.wd-name {
    padding-left: 12px;
    font-size: 15px;
    color: white;
    display: inline;
}

.wd-name-handle{
    font-size: 15px;
    color: rgb(47, 51, 54);
    /*margin-bottom: 0px;*/
}
.wd-date{
    font-size: 15px;
    color: rgb(47, 51, 54);
    display: inline;
    padding-left: 3px;
}

.wd-date::before {
    content: "• ";
    font-size: 8px;
}

.wd-main-content {
    color: white;
    font-size: 15px;
    max-width: 506px;
    padding-left: 12px;
    /*margin-left: 16px;*/
    /*padding-bottom: 12px;*/
    margin-bottom: 12px;
    /*padding-bottom*/
    margin-top: 3px;
    margin-right: 16px;
}

.wd-content {
    float: left;
}

.wd-text-image {
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-radius: 15px;
    width: 504px;
    margin-left: 12px;
    margin-top: 12px;
    /*margin-bottom: 12px;*/
}

.wd-space-image {
    /*padding-top: 0px;*/
    /*margin-bottom: 10px;*/
    width: 504px;
    height: 264px;
    border-radius: 15px 15px 0px 0px ;
    padding-bottom: 0px;
}

.wd-wrap-text {
    /*border-color: lightgray;*/
    /*border-style: solid;*/

    border-width: 1px 0 0 0;
    /*margin: 0px;*/
    border-style: solid;
    border-color: rgb(47, 51, 54);
    padding: 12px;
}

.wd-title-content {
    /*margin-top: 12px;*/
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wd-text {
    color: rgb(47, 51, 54);
    font-size: 15px;
    margin: 0px;
    /*margin-top: 0px;*/
    padding-top: 5px;
}

.wd-a{
    color: rgb(47, 51, 54);
    padding: 12px;
    /*margin: 12px;*/
    text-decoration: none;

    /*margin-top: 12px;*/
}

.wd-number {
    color: rgb(47, 51, 54);
    padding-top: 12px;
    padding-right:70px;
}

.wd-a-choose {
    color: red;
    padding: 12px;
    text-decoration: none;
}
.wd-number-choose {
    color: red;
    /*padding-right: 20px;*/
    padding-top: 12px;
    padding-right:70px;


}

.wd-width {
    display: flex;
}

